@import '../../styles/_base.scss';

.navbar-default {
  border: none !important;

  a.navbar-brand,
  a.navbar-brand:focus,
  a.navbar-brand:hover {
    color: #fff;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 1px;

    img {
      display: inline-block;
      margin-right: 1rem;
    }
  }
}
